* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
  align-self: stretch;
  padding: 0rem;
}
/************ Generelt **************/
html {
  scroll-behavior: smooth;
}
body {
  background-color: #faf6f7;
  width: 100vw;
  overflow-x: hidden;
}

footer {
  background-color: #f3edef;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 2rem;
}
main {
  background-color: #faf6f7;
}
h1 {
  font-size: 2.5rem;
  font-family: Cormorant Garamond;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-family: Cormorant Garamond;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.knap {
  background-color: #abe4dc;
  color: #1d4342;
  border-radius: 5px;
  padding: 10px;
  font-family: poppins;
  text-decoration: none;
}
.knap:hover {
  background-color: #f3faf9;
}
.laesmereknap {
  font-family: poppins;
  font-size: 0.8rem;
  text-decoration: none;
  color: #011961;
  font-weight: 600;
}
.laesmereknap:hover {
  background-color: #abe4dc;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 200px;
    padding-right: 200px;
  }
}

/************ Baggrund **************/

.right {
  position: absolute;
  top: 1610px;
  left: 400px;
  width: 1480px;
  height: 80px;
  scale: 47%;
  transform: rotate(340deg);
  z-index: -1;
}

.left {
  position: absolute;
  top: 1081px;
  right: 652px;
  width: 1480px;
  height: 80px;
  scale: 44%;
  transform: rotate(365deg);
  z-index: -1;
}
.bund {
  position: absolute;
  top: 2880px;
  right: 855px;
  width: 1080px;
  height: 80px;
  scale: 38%;
  transform: rotate(190deg);
  z-index: -1;
}
