---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
import DropDownForm from "../components/DropDownForm.astro";
import Hero from "../components/Hero.astro";
import Icons from "../components/Icons.astro";
import Icon from "../components/Icon.astro";
import Info from "../components/Info.astro";
import Cards from "../components/Cards.astro";
import Review from "../components/Review.astro";
import Forms from "../components/Forms.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Navigation />
    <Hero />
    <Icons />
    <Info />
    <Cards />
    <Review />
    <Forms />
    <Footer />
  </body>
</html>
