---

---

<section class="cards">
  <article class="card">
    <img src="img/samtaleforlobimg.png" alt="Samtaleforløb" />
    <div class="card_container">
      <div class="cardh3">
        <h3>Samtaleforløb<img src="img/Telefon.png" alt="telefonIkon" /></h3>
      </div>

      <p>Forløbet foregår over telefon og henvender sig ligesom akutrådgivningen til pårørende og misbrugsramte.</p>
      <a class="laesmereknap" href="">Læs mere</a>
    </div>
    <div>
      <p>
        ​Et samtaleforløb i rådgivningen er et tillidsfuldt og fortroligt forløb mellem dig og din rådgiver, som I har over længere tid. <br />
        Et forløb varer typisk 4-12 uger alt efter hvor mange samtaler du har, men er fleksibelt i intensitet alt efter dit behov. <br />
        Samtalerne skal ikke anses som behandling, men et samtaleforløb med en fortrolig samtalepartner, der fungerer som et lyttende øre og en tillidsfuld støtte til forandring. Du bliver tilknyttet en frivillig rådgiver, og I aftaler fra gang til gang tidspunktet for næste samtale.​ Både den frivillige rådsøger og rådgiver forbliver fortrolige under forløbet. ​ Rådsøger og rådgiver laver sammen en plan for samtaleforløbet med de emner, de i fællesskab vurderer relevante. Forløbene varetages af rådgivere, der har modtaget særlig tilrettelagt undervisning tilpasset vores rådgivning og målgruppe. Mange af vores frivillige har en sundhedsfaglig baggrund eller anden erfaring, der anses som relevant og nødvendig for at varetage funktionen.
      </p>
    </div>
  </article>
  <article class="card">
    <img src="img/akutimg.png" alt="akutrådgivning" />
    <div class="card_container">
      <div class="cardh3">
        <h3>Akutrådgivning<img src="img/chat.png" alt="Chatikon" /></h3>
      </div>

      <p>Akutrådgivningen tilbyder gratis, fortrolige samtaler til misbrugsramte og pårørende.</p>
      <a class="laesmereknap" href="">Læs mere</a>
    </div>
    <div>
      <p>
        Rådgivningstelefonen er et gratis og fortroligt samtaletilbud til: <br />
        <br />
        <li>​Pårørende til unge og voksne med et formodet misbrug eller en afhængighedsproblematik. <br /></li>
        <li>
          ​Voksne berørt af misbrug og afhængighed - herunder hash, narkotika, alkohol og medicin.
          <br />
        </li>
        <li>​Fagpersoner og borgere med spørgsmål til problematikker vedrørende forbrug og misbrug.</li>
      </p>
    </div>
  </article>
  <article class="card">
    <img src="img/gruppeimg.png" alt="gruppeforløb" />
    <div class="card_container">
      <div class="cardh3">
        <h3>Gruppeforløb<img src="img/user-group.png" alt="gruppeikon" /></h3>
      </div>

      <p>​Et gruppeforløb samler pårørende med samme type pårørenderelation til online møder. Samtalerne faciliteres af vores dygtige gruppeledere. Vores nuværende grupper henvender sig til følgende pårørende: Forældre, partnere og søskende til misbrugsramte samt voksne børn opvokset i en misbrugsramt familie.</p>
      <a class="laesmereknap" href="">Læs mere</a>
    </div>
    <div>
      <p>
        Grupperne er for dig, der er pårørende til en person i rusmiddelmisbrug og -afhængighed, og som ønsker andre ligesindede at dele dine oplevelser med. <br />
        <br />
        Pårørende Netværkets gruppeforløb er onlinebaserede og derfor landsdækkende. Du kan altså deltage uanset hvor i landet, du bor. Det eneste, du skal have adgang til, er en PC og et stabilt netværk. Du kan også anvende din mobilenhed, men vi anbefaler, at du anvender PC. Tilbuddet er gratis og består som udgangspunkt af 8 gruppemøder hver 14. dag. <br />
      </p>
    </div>
  </article>
</section>

<style>
  .cards {
    padding: 30px;
    margin-top: 20px;
  }
  .card {
    padding-bottom: 50px;
  }
  .cardh3 {
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center; /* Sørger for at h3 og img er på samme linje */
    justify-content: flex-start;
  }
  .cardh3 h3 {
 
    font-family: Garamond;
    display: flex;
    align-items: center;
  }
  .cardh3 img {
    height: 30px;
    padding-left: 5px;
    object-fit: contain;
  }
  .card p {
    font-family: poppins;

    padding-bottom: 10px;
  }
  .card li {
    font-family: poppins;
    font-size: 0.9rem;
    padding-bottom: 10px;
  }
  @media screen and (min-width: 900px) {
    .cards {
      padding-right: 200px;
      padding-left: 200px;
    }
    .card {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
    .cardh3 h3 {
      text-align: left;
    }
    .card_container {
      padding-left: 30px;
    }
  }
</style>
