---

---

<footer>
  <div>
    <h2>Kontakt</h2>
    <p>
      Pårørende Netværket - Misbrugsportalen <br />
      Bagsværd Hovedgade 126, <br />2880 Bagsværd <br />
      <br />
      ​Akutrådgivning: <a href="tel:+4570909080">+45 7090 9080 </a>
      <br />
      Sekretariat: <a href="tel:+4570604446">+45 7060 4446 </a>
      <br />
      Mail: mail@misbrugsportalen.dk
    </p>
  </div>
  <div>
    <h2>Åbningstider</h2>
    <p>
      Mandag-tirsdag: 15-18 <br />
      Onsdag-Fredag: 18-20 <br />
      Weekend og Helligdage: lukket
    </p>
  </div>
  <p class="logo"><a href="#"><img src="img/logo.webp" alt="" /></a></p>
</footer>

<style>
  footer a {
    color: #1d4342;
  }
</style>
