---
import Form from "./Form.astro";
---

<section class="forms">
  <Form title="Ansøg om Telefonisk Samtaleforløb">
    <form>
      <label for="name">Navn:</label>
      <input type="text" id="name" name="name" required />
      <div class="checkbox-group">
        <label class="sporgsmaal">Er du pårørende til nærtstående med misbrug? </label>

        <label for="ja">Ja</label><input type="checkbox" id="ja" name="social[]" value="ja" />

        <label for="nej">Nej</label>
        <input type="checkbox" id="nej" name="social[]" value="nej" />

        <label for="jeger/harvaeretmisbruger">Jeg har selv eller før haft et misbrug</label>
        <input type="checkbox" id="jeger/harvaeretmisbruger" name="social[]" value="jeger/harvaeretmisbruger" />
      </div>

      <div class="checkbox-group">
        <label class="sporgsmaal">Tilkendegiv medlemskab </label>

        <label for="ja">Ja, jeg ønsker medlemskab</label><input type="checkbox" id="onskermedlem" name="social[]" value="onskermedlem" />

        <label for="nej">Jeg er alleredemedlem</label>
        <input type="checkbox" id="jegermedlem" name="social[]" value="jegermedlem" />
      </div>

      <label>Allerede medlem:</label>
      <input type="text" id="alleredemedlemid" name="alleredemedlem" required />
      <label class="sporgsmaal">Det er et kriterie at alle rådsøgere i samtaleforløb er medlem af foreningen. Medlemskabet er gratis. </label>

      <label>E-mail:</label>
      <input type="email" id="email" name="email" required />
      <label>Telefon:</label>
      <input type="tel" id="tel" name="telefon" required />
      <label>Hvor gammel er du:</label>
      <input type="text" id="alder" name="alder" required />
      <label>Bopælsadresse:</label>
      <input type="text" id="bopael" name="bopael" required />
      <div class="form-felt">
        <div>
          <label>
            <textarea name="besked" placeholder="Skriv din besked her" rows="5"></textarea>
          </label>
        </div>
      </div>
      <div class="checkbox-group">
        <label class="sporgsmaal">Hvor har du hørt om os? </label>

        <label for="kommunen">Kommunen</label><input type="checkbox" id="kommunen" name="social[]" value="kommunen" />
        <label for="laege">Min læge</label><input type="checkbox" id="laege" name="social[]" value="laege" />
        <label for="socialemedier">Sociale medier</label><input type="checkbox" id="socialemedier" name="social[]" value="socialemedier" />
        <label for="bekendte">Igennem venner og bekendte</label><input type="checkbox" id="bekendte" name="social[]" value="bekendte" />
        <label for="henvist">Jeg blev henvist fra et andet tilbud</label><input type="checkbox" id="henvist" name="social[]" value="henvist" />
        <label for="selvfunder">Jeg har selv fundet jer</label><input type="checkbox" id="selvfunder" name="social[]" value="selvfunder" />
        <label for="Andet">Andet</label><input type="checkbox" id="Andet" name="social[]" value="Andet" />
      </div>
    </form>
  </Form>
  <Form title="Ansøg om Telefonisk Samtale">
    <form>
      <label for="name">Navn:</label>
      <input type="text" id="name" name="name" required />
      <div class="checkbox-group">
        <label class="sporgsmaal">Er du pårørende til nærtstående med misbrug? </label>

        <label for="ja">Ja</label><input type="checkbox" id="ja" name="social[]" value="ja" />

        <label for="nej">Nej</label>
        <input type="checkbox" id="nej" name="social[]" value="nej" />

        <label for="jeger/harvaeretmisbruger">Jeg har selv eller før haft et misbrug</label>
        <input type="checkbox" id="jeger/harvaeretmisbruger" name="social[]" value="jeger/harvaeretmisbruger" />
      </div>

      <div class="checkbox-group">
        <label class="sporgsmaal">Tilkendegiv medlemskab </label>

        <label for="ja">Ja, jeg ønsker medlemskab</label><input type="checkbox" id="onskermedlem" name="social[]" value="onskermedlem" />

        <label for="nej">Jeg er alleredemedlem</label>
        <input type="checkbox" id="jegermedlem" name="social[]" value="jegermedlem" />
      </div>

      <label>Allerede medlem:</label>
      <input type="text" id="alleredemedlemid" name="alleredemedlem" required />
      <label class="sporgsmaal">Det er et kriterie at alle rådsøgere i samtaleforløb er medlem af foreningen. Medlemskabet er gratis. </label>

      <label>E-mail:</label>
      <input type="email" id="email" name="email" required />
      <label>Telefon:</label>
      <input type="tel" id="tel" name="telefon" required />
      <label>Hvor gammel er du:</label>
      <input type="text" id="alder" name="alder" required />
      <label>Bopælsadresse:</label>
      <input type="text" id="bopael" name="bopael" required />
      <div class="form-felt">
        <div>
          <label>
            <textarea name="besked" placeholder="Skriv din besked her" rows="5"></textarea>
          </label>
        </div>
      </div>
      <div class="checkbox-group">
        <label class="sporgsmaal">Hvor har du hørt om os? </label>

        <label for="kommunen">Kommunen</label><input type="checkbox" id="kommunen" name="social[]" value="kommunen" />
        <label for="laege">Min læge</label><input type="checkbox" id="laege" name="social[]" value="laege" />
        <label for="socialemedier">Sociale medier</label><input type="checkbox" id="socialemedier" name="social[]" value="socialemedier" />
        <label for="bekendte">Igennem venner og bekendte</label><input type="checkbox" id="bekendte" name="social[]" value="bekendte" />
        <label for="henvist">Jeg blev henvist fra et andet tilbud</label><input type="checkbox" id="henvist" name="social[]" value="henvist" />
        <label for="selvfunder">Jeg har selv fundet jer</label><input type="checkbox" id="selvfunder" name="social[]" value="selvfunder" />
        <label for="Andet">Andet</label><input type="checkbox" id="Andet" name="social[]" value="Andet" />
      </div>
    </form>
  </Form>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  form {
    padding-bottom: 40px;
  }

  .forms h2 {
    text-align: center;
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-size: 1.5rem;
    font-weight: 600;
  }
  label {
    font-family: Cormorant Garamond;
    display: block;
    margin-top: 10px;
  }
  .sporgsmaal {
    font-weight: 600;
    font-size: 1rem;
    padding-top: 30px;
    font-family: poppins;
    color: #011961;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .checkbox-group {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  textarea {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 900px) {
    .forms {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 200px;
      padding-right: 200px;
    }
    .forms h2 {
      display: grid;
      grid-column: 1/3;
    }
  }
</style>
