---

---

<section class="anmeldelser">
  <h2>Andmeldelser fra tidligere pårørende</h2>
  <p>“Jeg får nogle gode råd. Samtidig er det rart at snakke med en, der har erfaring med misbrugsramte.”</p>
  <img src="img/stjerner.png" alt="stjerner" />
  <a class="knap" href="https://www.facebook.com/misbrugsportalen/reviews?locale=da_DK">Gå til flere anmeldelser</a>
</section>

<style>
  .anmeldelser {
    text-align: center;
    background-color: #011961;
    color: #f3edef;
    padding-bottom: 40px;
  }
  .anmeldelser h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 30px;
  }
  .anmeldelser p {
    font-family: poppins;
    font-size: 1rem;
    padding-left: 30px;
    padding-right: 30px;
  }
  .anmeldelser img {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: 900px) {
    .anmeldelser {
      padding-right: 400px;
      padding-left: 400px;
      padding-top: 30px;
      padding-bottom: 70px;
    }
    .anmeldelser img {
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
</style>
